<template>
  <div class="web__hero">
    <div class="web">
      <div class="web__box web__box-left"></div>
      <div class="web__box web__box-right">
        <div class="web__title">{{ web__title }}</div>
        <p class="web__description">{{ web__description }}</p>
        <a
          href="http://live.wt.zigzagtrader.xyz/"
          class="button"
          target="_blank"
        >
          Demo
        </a>
      </div>
    </div>
    <app-web
      :web__name="item.web__name"
      :web__text="item.web__text"
      :web__image="item.web__image"
      v-for="item in items_web"
      v-bind:key="item.id"
    ></app-web>
    <div class="web__content">
      <div class="web__box web__box-left wow animate__fadeInUpBig">
        <h2 class="web__name">Black & White Themes</h2>
      </div>
      <div class="web__box web__box-right wow animate__fadeInUpBig">
        <div class="img-comp-container">
          <div class="img-comp-img">
            <img :src="$getAsset('wt_4_w.jpg')" alt="#" width="520" height="400" />
          </div>
          <div class="img-comp-img img-comp-overlay">
            <img :src="$getAsset('wt_4_b.jpg')" alt="#" width="520" height="400" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Web from "@/components/Web.vue";
export default {
  name: "webTerminal",
  data() {
    return {
      web__title: "ZigZag Web Terminal for MT4",
      web__description:
        "Web Terminal for MT4 allows brokers to give ability to trade over manager api for their customers.",
      items_web: [
        {
          web__name: "Ability to add any mt4 account",
          web__text: [
            "Can add any mt4 account as investor or broker without need manager api or server api.",
            "For brokers where mt4 manager api available ability to pay commission from mt4 account.",
            "Ability to top up wallet balance to pay commission for order copy and profit share.",
            "Supported Bitcoin deposit and withdrawals from/to wallet.",
            "Support of internal accounts with ability to trade or invest.",
            "Transfer of wallet balance between accounts.",
            "Ability to add multiple trader/investor accounts per user."
          ],
          web__image: "wt_1.jpg"
        },
        {
          web__name: "Chart",
          web__text: [
            "Line and Candles support",
            " Different Timeframes",
            "Zoom and Scrolling",
            "Watchlist for preferred currencie"
          ],
          web__image: "wt_2.jpg"
        },
        {
          web__name: "Orders",
          web__text: [
            "Open Orders",
            "Order History",
            "Deposit/Withdrawals",
            "Open/Modify/Close Orders",
            "Support for Market/Limit/Stop Orders"
          ],
          web__image: "wt_3.jpg"
        },
        // {
        //   web__name: "Black & White Themes",
        //   web__text: [],
        //   web__image: "/wt_4_w.jpg",
        // },
      ],
    };
  },
  components: {
    appWeb: Web
  }
};
</script>
