<template>
  <div>
    <img class="block__img" :src="$getAsset(block__img)" alt="#" />
    <div class="block__title">{{ block__title }}</div>
    <div class="block__text">{{ block__text }}</div>
  </div>
</template>

<script>
export default {
  name: "appblock",
  props: ["url", "block__img", "block__title", "block__text"],
};
</script>
