<template>
  <div class="web__content">
    <div class="web__box web__box-left wow animate__fadeInUpBig">
      <h2 class="web__name">{{ web__name }}</h2>
      <ul class="web__text">
        <li class="web__list" v-for="t in web__text" v-bind:key="t.id">
          {{ t }}
        </li>
      </ul>
    </div>
    <div class="web__box web__box-right wow animate__fadeInUpBig">
      <div class="web__image">
        <img :src="$getAsset(web__image)" alt="#" class="web__image-size" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["web__name", "web__text", "web__image"],
};
</script>
