<template>
  <div id="app">
    <div class="container">
      <div class="filling">
        <headerblock />
        <router-view />
      </div>
      <footerblock />
    </div>
  </div>
</template>

<script>
import headerblock from "@/components/Header.vue";
import footerblock from "@/components/Footer.vue";
export default {
  name: "app",
  components: {
    headerblock,
    footerblock
  }
};
</script>

<style lang="sass">
@font-face
  font-family: GandhiSans-Regular
  src: url("~@/fonts/GandhiSans-Regular.woff")
  src: url("~@/fonts/GandhiSans-Regular.woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: GandhiSans-Bold
  src: url("~@/fonts/GandhiSans-Bold.woff")
  src: url("~@/fonts/GandhiSans-Bold.woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: GandhiSans-Italic
  src: url("~@/fonts/GandhiSans-Italic.woff")
  src: url("~@/fonts/GandhiSans-Italic.woff2")
  font-weight: normal
  font-style: italic

@font-face
  font-family: GandhiSans-BoldItalic
  src: url("~@/fonts/GandhiSans-BoldItalic.woff")
  src: url("~@/fonts/GandhiSans-BoldItalic.woff2")
  font-weight: bold
  font-style: italic

$white: #ffffff
$dark: #0c0f16
$yellow: #ffc400
$blue: #14cbcd
$bronze: #352b00
$darkey: #141622

*
  margin: 0
  padding: 0
  text-decoration: none

body
  position: relative
  background: url("~@/assets/bg.jpg")
  background-size: cover
  z-index: -2
  font-family: "GandhiSans-Regular", sans-serif
  &::before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #0c0f16
    opacity: 0.8

.container
  padding: 0 calc(50% - 780px)

.filling
  min-height: calc(100vh - 95px)

.button
  display: inline-block
  padding: 10px 30px
  font-size: 18px
  font-family: "GandhiSans-Bold", sans-serif
  border-radius: 5px
  border: none
  outline: none
  cursor: pointer
  transition: transform .2s
  &:hover
    transform: scale(1.05)

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 30px 0
  margin-bottom: 50px

.social
  display: inline-block
  padding: 0 20px
  &__icon
    width: 45px

.hero
  display: flex
  flex-direction: column
  justify-content: center

.mokup
  width: 80%

.heading
  display: flex
  &__box
    margin-bottom: 100px
    &-left
      width: 39%
    &-right
      width: 59%
  &__title
    color: #14cbcd
    font-size: 42px
    font-family: "GandhiSans-Bold", sans-serif
    letter-spacing: 3px
    margin-bottom: 30px
  &__text
    color: #ffffff
    letter-spacing: 2px
    line-height: 38px
    margin-bottom: 40px

.content
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 30px
  margin-bottom: 50px
  &__box
    width: 48%
    padding: 10px
  &:nth-child(odd)>.content__box-left
    order: 1
  &:nth-child(odd)>.content__box-right
    order: -1
  &:nth-child(even)>.content__box-left
    order: -1
  &:nth-child(oddeven)>.content__box-right
    order: 1

.button
  color: #ffffff
  background-color: rgba(255, 196, 0, 0.9)

.title
  color: #14cbcd
  font-size: 30px
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 20px

.text
  color: #ffffff
  font-size: 20px
  line-height: 28px
  margin-bottom: 40px
  padding-left: 20px
  &__list
    margin-bottom: 10px

.video
  width: 85%
  border-radius: 5px
  margin: 20px

.footer
  padding: 20px 0
  margin-top: 20px
  font-size: 12px
  font-family: Oregano, cursive
  color: #d1d1d1
  text-align: center
  &__span
    display: block
    & a
      color: #d1d1d1
      text-decoration: none
      outline: none

/* Index */
.blocks
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-bottom: 100px

.block
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 370px
  width: 20%
  padding: 10px
  margin: 10px
  border-radius: 10px
  background: #141622
  text-align: center
  cursor: pointer
  &:hover
    background: #352b00
    transform: scale(1.03)
  &__title
    color: #14cbcd
    font-size: 24px
    padding: 10px
    margin-bottom: 10px
  &__text
    padding: 10px
    font-size: 18px
    color: #ffffff
  &__img
    margin-bottom: 25px
    width: 30%
    padding: 20px

.description
  display: flex
  justify-content: space-between
  align-items: center
  background: #141622
  padding: 20px
  margin: 50px 200px
  border-radius: 10px
  &__box
    width: 48%
    padding: 10px
    &-right
      display: block
      text-align: right
  &__title
    color: #14cbcd
    font-size: 30px
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 20px
  &__text
    color: #ffffff
    font-size: 20px
    line-height: 28px
    margin-bottom: 40px
    padding-left: 20px
  &__list
    margin-bottom: 10px
  &__contact
    display: flex
    align-items: center
    color: #ffffff
    font-size: 20px
    line-height: 28px
  &__icon
    margin: 0 15px
  &__image
    width: 45%

/* Web Terminal */

.web
  display: flex
  &__hero
    display: flex
    flex-direction: column
    justify-content: center
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 30px
  &__box
    width: 48%
    padding: 10px
    margin-bottom: 50px
  &__name
    color: #14cbcd
    font-size: 30px
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 20px
  &__text
    color: #ffffff
    font-size: 20px
    line-height: 28px
    margin-bottom: 40px
    padding-left: 20px
  &__list
    margin-bottom: 10px
  &__image
    width: 90%
    &-size
      width: 80%
      border-radius: 5px
      margin: 25px
  &__title
    color: #14cbcd
    font-size: 42px
    font-family: "GandhiSans-Bold", sans-serif
    letter-spacing: 3px
    margin-bottom: 30px
  &__description
    color: #ffffff
    letter-spacing: 2px
    line-height: 38px
    margin-bottom: 40px

.web__content:nth-child(odd)>.web__box-left
  order: 1

.web__content:nth-child(odd)>.web__box-right
  order: -1

.web__content:nth-child(even)>.web__box-left
  order: -1

.web__content:nth-child(oddeven)>.web__box-right
  order: 1

.web__content:nth-child(odd)>.web__box-left
  order: 1

.web__content:nth-child(odd)>.web__box-right
  order: -1

.web__content:nth-child(even)>.web__box-left
  order: -1

.web__content:nth-child(oddeven)>.web__box-right
  order: 1

/* Slider image */

.img-comp-container
  position: relative
  height: 400px

.img-comp-img
  position: absolute
  width: auto
  height: auto
  overflow: hidden

.img-comp-img img
  display: block
  vertical-align: middle

.img-comp-slider
  position: absolute
  z-index: 9
  cursor: ew-resize
  /*установите внешний вид ползунка:*/
  width: 40px
  height: 40px
  background-color: #2196F3
  opacity: 0.7
  border-radius: 50%
</style>
